/* PLACEHOLDER */
@mixin placeholder($font, $color, $anim: false) {
  @if $anim {
    &::-webkit-input-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &::-moz-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
    &:-moz-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &:-ms-input-placeholder {
      font: $font;
      color: $color;
      opacity: 1;
      transform: translateY(-2px);
      transition: opacity 0.2s ease-out;
    }
    &:focus::-webkit-input-placeholder {
      opacity: 0;
    }
    &:focus::-moz-placeholder {
      opacity: 0;
    }
    &:focus:-moz-placeholder {
      opacity: 0;
    }
    &:focus:-ms-input-placeholder {
      opacity: 0;
    }
  } @else {
    &::-webkit-input-placeholder {
      font: $font;
      color: $color;
    }
    &::-moz-placeholder {
      font: $font;
      color: $color;
    }
    &:-moz-placeholder {
      font: $font;
      color: $color;
    }
    &:-ms-input-placeholder {
      font: $font;
      color: $color;
    }
  }
}

@mixin scrollbar($color, $color-line) {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 3px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border: none;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-line;
  }
}
