@import "settings"
@import "mixin"
//div[target="_blank"],
//a[title]
//  display: none !important

//.thanks-message
//  opacity: 0
//  position: absolute
//  left: 0
//  right: 0
//  top: 0
//  bottom: 0
//  z-index: -10
//  transition: opacity ease 0.4s
//  background-color: red
//  color: #ffffff
//
//  &.open
//    z-index: 100
//    opacity: 1

.container
  max-width: calc(700px + 30px)
  margin: 0 auto
  padding: 0 15px
